body {
    background: rgb(200, 240, 209);
    margin-top: 20rem;
    margin-bottom: 20;
    margin-left: 20rem;
    margin-right: 20rem;
}
article {
    text-align: center;
    align-items: center;
}
article {
    border-radius: 5rem;
    background: rgb(220, 240, 239)
}
.text {
    font-size: 10rem;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Raleway', sans-serif;
}
.love {
    text-align: right;
    font-family: 'Dancing Script', cursive;
    transition: 5s;
    }
#loveT {
    color: red;

    &:hover {
        color: black;
    }
}
img {
    height: 350px;
    width: 200px;
    display: flex;
}
@media  screen and (min-width: 300px) { 
    .text {
        font-size: 1rem;
        font-family: 'Bebas Neue', cursive;
        font-family: 'Raleway', sans-serif;
    }

    .love {
        text-align: right;
        font-family: 'Dancing Script', cursive;
    }

    body {
        margin-top: 10rem;
        margin-bottom: 10rem;
        margin-left: 5rem;
        margin-right: 5rem;
    }

    article {
        border-radius: 2rem;
        padding: 5rem 2rem 2rem 2rem;
    }
    #loveT {
        color: red;
    
        &:hover {
            color: black;
        }
    }
    img {
        height: 250px;
        width: 150px;
        display: inline;
        align-items: center;

    }
}